<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
	</configSections>
	<activerecord>
		<config>
			<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
			<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
			<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="hibernate.connection.connection_string" value="ConnectionString=${pantera}" />
		</config>
	</activerecord>
	<connectionStrings>
		<add name="pantera" connectionString="server=maximus;database=pantera;user id=sa;password=anja8247;" />
		<add name="Scratch" connectionString="server=maximus;database=scratch;user id=sa;password=anja8247;" />
		<add name="EasementsDev" connectionString="server=199.141.118.166;database=FundMgrEasements;uid=FundMgrEasementsRW;pwd=migrate4Now!" />
		<add name="WebsiteBuilder" connectionString="Server=199.141.118.174;Database=NRCSOnline;User ID=NRCSOnlineRW;Password=76^Trombones;Application Name=HyperActive;" />
		<add name="LeroyLsgp" connectionString="server=iasreldb2v;database=lsgptracking;user id=lsgptrackingrw;password=7i4KW8RL"/>
		<add name="WidgetsRUs" connectionString="server=maximus;database=WidgetsRUs;user=widgetsrw;password=shoutatthedevil;"/>
		<add name="FundMgrChris" connectionString="server=199.141.118.166;database=fundmanagerChris;uid=fundmanagerrw;pwd=GCI9o62o;Application Name=FundMgrWeb;" />
	</connectionStrings>
</configuration>