<hyperactive>
	<config>
		<!--
		assemblydirectory
			Fully qualified path to a location to search for assemblies containing types that
			that are consumed by HyperActive.  
		-->
		
		<add key="assemblydirectory" value="C:\path\to\assemblies" />
		<!--
		  abstractbasename
			When using multiple databases, any ActiveRecord config section defining databases other than the
			the default database config, must implement a different base class name. In the following example
			My.Namespace.PubsDatabaseBaseClass is a non-default config type which would look like this:
			
			namespace My.Namespace
			{
				public abstract class PubsDatabaseBaseClass<T> : Castle.ActiveRecord.ActiveRecordValidationBase<T> where T : class
				{
				}
			} 
			
			All it does is mark a type that subclasses it as one associated with a config section that looks like this:
			
			<config type="My.Namespace.PubsDatabaseBaseClass`1, My.Namespace.dll">
			  <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
			  <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
			  <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
			  <add key="connection.connection_string" value="ConnectionString=${pubs}"/>
			  <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />		      
			</config>
		-->
		<add key="abstractbasename" value="Company.Product.PubsDatabaseBaseClass" />
		
		<!--
		basetypename
			This is the actual ActiveRecord base class that all of the default generated AR classes will subclass, or the
			abastractbasename defined above subclasses.  This will be 
		-->
		<add key="basetypename" value="" />
		
		<add key="namespace" value="Awish.Lars.Core.Models" />
		<add key="datanamespace" value="Awish.Lars.Data" />
		<add key="outputpath" value="Models/Generated" />
		<add key="skiptables" value="ELMAH_Error" />
		<add key="enumnamespace" value="Awish.Lars.Core.Enums" />
		<add key="enumoutputpath" value="Enums/Generated" />
		<add key="connectionstring" value="integrated security=SSPI;server=(local);database=Lars;" />
		<enums>
			<replacement lookfor="/" replacewith="Or"></replacement>
			<replacement lookfor="&amp;" replacewith="And"></replacement>
			<replacement lookfor="16.67%" replacewith="SixteenPointSixSevenPercent" />
			<replacement lookfor="12.5%" replacewith="TwelvePointFivePercent" />
			<add table="TransactionLineType" />
			<add table="LeaseStatus" />
			<add table="MineralType" />
			<add table="LeaseRoyalty" />
			<add table="PaymentType" />
			<add table="AssignmentType" />
			<add table="AccountType" />
		</enums>
		<components>
			<component
					  service="HyperActive.Core.Generators.ActiveRecordGenerator, HyperActive"
					  serviceimpl="Awish.Common.ActiveRecordExtensions.AwishModelGenerator, Awish.Common.ActiveRecordExtensions" />
		</components>
	</config>

</hyperactive>