<hyperactive>
	<config>
		<add key="abstractbasename" value="NonDefaultDatabaseName" />
		<add key="basetypename" value="Castle.ActiveRecord.ActiveRecordBase" />
		<add key="connectionstring" value="server=(local);database=YourDB;Integrated Security=SSPI" />
		<add key="datanamespace" value="Project.Data" />
		<add key="generatecolumnlist" value="true" />
		<add key="generatecomments" value="true" />
		<add key="namespace" value="Project.Data" />
		<add key="outputpath" value="Generated" />
		<enums>
			<add table="TableType" nameField="Label" valueField="ID" />
		</enums>
		<components>
			<component
				service="HyperActive.Core.ActiveRecordGenerator, HyperActive"
				serviceimpl="Your.Project.CustomActiveRecordGenerator, Your.Project" />
		</components>
	</config>
</hyperactive>